.wrapper{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    justify-content: space-around;
}

.mail{
    flex: 2;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.magzine img{
    width: 100%;
    filter: grayscale(1.0);
}

.heading span{
    padding-left: 10px;
    border-left: 5px solid red;
}

.info{
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;
}

.info :nth-child(2){
    cursor: pointer;
    transition-duration: 300ms;
    padding-top: 10px;
    color: black;
    text-align: right;
}

.info :nth-child(2) i{
    padding-right: 10px;
}

.info :nth-child(2):hover{
    color: red;
    transform: translateY(2px);
}

.metadata i{
    padding-right: 10px;
}

.metadata{
    font-size: 14px;
    text-align: right;
}

/* Responsive Adjustments */
@media only screen and (max-width: 1024px) {
  .wrapper{
    flex-direction: column;
    align-items: center;
  }

  .mail, .slider{
    width: 90%; /* Adjust the width to suit mobile devices */
  }

  .info, .metadata{
    text-align: center; /* Center align the text for better readability on smaller screens */
  }
}

@media only screen and (max-width: 600px) {
  .wrapper, .mail, .slider{
    width: 100vw; /* Utilize the full viewport width */
    padding: 20px; /* Add some padding for spacing */
  }

  .mail{
    flex: none; /* Remove the flex sizing to let content define its size */
  }

  .info :nth-child(2), .metadata{
    text-align: left; /* Adjust text alignment as needed */
  }
}
