section#home{
    height: 100vh;
    background-image: url("../../assets/background-mesh.png") ;
    background-size: cover;
    position: relative;
}

section#home:after {
    content: '';
    display: block;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    transition: background 0.3s ease;
    position: absolute;
    bottom: 0px;
}


.button{
    background-color: red;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    border: 1px solid red;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;

}

.button:hover{
    transform: translateY(-5px);
}

.button.secondary{
    background-color: black;
    border: 1px solid rgb(90, 90, 90);
    margin-left: 20px;
    cursor: pointer;

}

.button i{
    margin-left: 10px;
}

.anime_image-enter {
    opacity: 0;
    transform: translateX(-20%);
    transition-timing-function: ease-in-out;
  }

  .anime_image-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in-out 300ms;

  }

  .anime_image-exit {
    opacity: 1;


}

  .anime_image-exit-active {
    opacity: 0;
    transform: translateX(20%);
    position: absolute;
    transition: all 600ms ease-in-out;

  }

  @media (max-width:768px) {
    .button{
      padding: 5px 10px;
      font-weight: 700;

  }
  }
