* {
  font-family: "Titillium Web", sans-serif;
  font-display: swap;
}

a {
  text-decoration: none;
  color: unset;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotating {
  animation: logo-spin infinite 40s linear;
}
